.nav {
  display: flex;

  .options {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 100px;
    width: 160px;
    height: 160px;
    margin: 2em;
    background: transparent;
    backdrop-filter: blur(2px) brightness(90%) invert(0.9);
    color: #030327;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      border: 2px solid white;
      backdrop-filter: blur(0px) brightness(80%) invert(1);
    }
  }
}
