$red-color: lighten(#b31232, 1%); // #c82736;
$green-color: lighten(#28a92b, 0%);
$blue-color: lighten(#122cb3, 4%); // #2c7ad2;
$purple-color: #5B16BD; // #8d3dae;
$orange-color: lighten(#e77614, 0%); // #e77614;
$grey-color: #777777;

$color-plum: #3C034E;
$color-dark-violet: #360F66;
$color-regal: #2A0541;
$color-black: #030327;
$color-violet: #5B16BD;
$color-magenta: #B908F6;
$color-rose: #740979;
